*.class
*.log
*.sc
.env
.scalafix.conf
.bloop/
.bsp/
.cache
.history
.idea/
.lib/
.metals/
.vscode/
dist/*
lib_managed/
project/boot/
project/.bloop/
project/metals.sbt
project/project/
project/plugins/project/
project/target/
src_managed/
target/
target/src_managed/
